body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F1DE;
    color: #333
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
}

header .logo {
    font-size: 20px;
    font-weight: bold;
}

.content {
    text-align: center;
    padding: 20px;
}

.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-size: 20px;
    font-weight: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.bio {
    font-size: 15px;
    font-weight: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #333;

}

.web {
    font-size: 20px;
    font-weight: 20px;
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    vertical-align: middle;
}

.exercise-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 10px;
    margin-top: 5px;
}

.exercise-box {
    background: rgba(150, 120, 200, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(118, 75, 162, 0.3);
    width: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.exercise-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    text-align: top;
}

.exercise-box h3 img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.exercise-box a {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    padding: 8px 10px;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
}



footer .social-footer a img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    vertical-align: bottom;
    align-items: center;
}

footer .social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


footer p {
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
    align-items: center;
}

@media screen and (max-width:760px) {
    header {
        flex-direction: column;
        padding: 30px 30px;
        text-align: center;
    }

    header .logo {
        font-size: 20px;
    }

    .social-icons img {
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .profile-img {
        width: 60px;
        height: 60px;
    }

    .name {
        font-size: 20px;
    }

    .web {
        font-size: 20px;
    }

    .bio {
        font-size: 20px;
        padding: 0 20px;
    }


    .exercise-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }


    .exercise-box {
        flex: 0 80%;
        max-width: 360px;
        margin: 20px 0;
        padding: 5px;
        align-items: center;
    }

    .exercise-box h3 {
        font-size: 10px;
    }

    .exercise-box h3 img {
        width: 30px;
        height: 40px;
    }

    .exercise-box a {
        font-size: 10px;
    }

    footer p {
        font-size: 10px;
    }

    footer .social-footer a img {
        width: 20px;
        height: 20px;
    }
}