 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f4f4f4;
     color: #333
 }

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px 40px;
     background-color: #f4f4f4;
 }

 .logo img {
     margin-left: 40px;
     height: 40px;
     width: auto;
 }

 nav {
     display: flex;
     gap: 20px;
 }

 nav a {
     text-decoration: none;
     color: #333;
     font-weight: 500;
 }

 nav a:nth-child(3) {
     background-color: #B9FF66;
     padding: 6px 12px;
     border-radius: 5px;
     color: black;
 }

 .quote-btn {
     border: 2px solid black;
     padding: 8px 16px;
     border-radius: 5px;
     text-decoration: none;
     color: black;
     font-weight: 500;
 }

 .hamburger {
     display: none;
     font-size: 24px;
     cursor: pointer;
 }

 .proven-section {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     background-color: #fff;
     padding: 40px;
     margin: 40px auto;
     max-width: 1200px;
     border-radius: 12px;
     gap: 20px;
 }

 .proven-image {
     flex: 1 1 45%;
     height: 300px;
     background-color: #e6f2ff;
     border-radius: 12px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #555;
     font-size: 12px;
 }

 .proven-text {
     flex: 1 1 45%;
     padding: 20px;
 }

 .proven-text h2 {
     font-size: 32px;
     margin-bottom: 20px;
 }

 .proven-text p {
     line-height: 1.6;
     margin-bottom: 20px;
 }

 .featured {
     background-color: #333;
     color: #f4f4f4;
     ;
     padding: 40px;
     border-radius: 12px;
     max-width: 1200px;
     margin: 0 auto 60px;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     gap: 30px;
 }

 .featured-text {
     flex: 1 1 45%;
 }

 .featured-text h3 {
     font-size: 16px;
     color: #B9FF66;
     margin-bottom: 10px;
     letter-spacing: 1px;
 }

 .featured-text h4 {
     font-size: 20px;
     margin-bottom: 25px;
 }

 .featured-text p {
     color: #ccc;
     line-height: 1.6;
 }

 .stats {
     flex: 0 0 500px;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     justify-content: space-between;
 }

 .stat-box {
     flex: 1 1 calc(50% - 10px);
     background-color: #f4f4f4;
     color: #000;
     padding: 20px;
     border-radius: 10px;
     text-align: center;
     box-sizing: border-box;
 }

 .stat-box h5 {
     font-size: 25px;
     margin-bottom: 10px;
     color: #333;
 }

 .stat-box p {
     font-size: 15px;
     color: #333;
 }

 .featured-full {
     display: block;
 }

 .featured-short {
     display: none;
 }

 @media screen and (max-width: 768px) {

     nav,
     .quote-btn {
         display: none;
     }

     .hamburger {
         display: block;
     }

     .proven-section {
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .featured-full {
         display: none;

     }

     .featured-short {
         display: block;
     }

     .proven-text {
         order: 1;
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: left;
     }

     .featured-section {
         background-color: #000;
         color: white;
         display: flex;
         justify-content: space-between;
         align-items: center;
         flex-wrap: wrap;
         padding: 60px 80px;
         border-radius: 16px;
         max-width: 1200px;
         margin: 60px auto;
     }

     .featured-text {
         flex: 1 1 100%;
         flex-direction: 30px;
         align-items: center;
     }

     .featured-text p {
         max-width: none;
     }

     .featured {
         flex-direction: column;
     }


     .stats {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 15px;
     }

     .stat-box {
         flex: none;
         width: 80%;
         max-width: 300px
     }

     section,
     .featured {
         padding-left: 40px;
         padding-right: 40px;
     }
 }