body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f4f4f4;
}

.logo img {
    margin-left: 40px;
    height: 40px;
    width: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.quote-btn {
    border: 2px solid black;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    nav,
    .quote-btn {
        display: none;
    }

    .hamburger {
        display: block;
    }
}