body {
    font-family: "Oxygen", sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}

.navbar img {
    margin-left: 0px;
}


.logo {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.nav-links a {
    margin: 0 15px;
    color: #555;
    font-weight: bold;
}

.quote-btn {
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
    background-color: #fff;
    display: flex;
    padding: 50px 70px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 30px;
    margin-bottom: 30px;
}

.consult-btn {
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.hero-image {
    text-align: center;
    margin-left: -90px;
}

.hero-image img {
    width: 400px;
    margin-bottom: 20px;
}

.icons span {
    font-size: 2rem;
    margin: 10px;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 0 40px;
    background-color: #fff;
    flex-wrap: wrap;
}

.partners img {
    height: 80px;
    margin: 0 10px;
    object-fit: contain;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}

.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    padding: 10px 10px;
}

.menu-item {
    position: relative;
}


.menu-item:hover .submenu {
    display: block;
}

.submenu a {
    padding: 0;
    margin: 0 15px;
    white-space: nowrap;
}

.submenu a:hover {
    background: #f2f2f2;
}



.submenu.show {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background: #333;
    margin: 4px 0;
}

@media (max-width: 800px) {

    .nav-links {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 6px;
        width: 200px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image {
        order: 1;
        margin-bottom: 20px;
    }

    .hero-text {
        order: 2;
        max-width: 100%;
    }


}