body {
    font-family: "Oxygen", sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}

.nav-links a {
    margin: 0 15px;
    color: #555;
    font-weight: bold;
}

.quote-btn {
    padding: 10px 20px;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
    display: flex;
    padding: 60px 80px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 30px;
    margin-bottom: 30px;
}

.consult-btn {
    padding: 12px 24px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.hero-image {
    text-align: center;
    margin-left: -20px;
}

.hero-image img {
    width: 200px;
    margin-bottom: 20px;
}

.icons span {
    font-size: 2rem;
    margin: 10px;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 0 40px;
    background-color: #fff;
    flex-wrap: wrap;
}

.partners img {
    height: 40px;
    object-fit: contain;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 80px;
}