body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

.card-text {
    position: relative;
    top: -60px;
    background: #fff;
    padding: 15px;
    width: 160px;
    margin-left: 30px;
    border-radius: 10px;
    font-size: 10px;
    border: 3px solid #eee;
    text-align: left;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;

}


.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.card {
    position: relative;
    align-items: center;
    gap: 20px;
    width: 30%;
}

.card img {
    width: 240px;
    border-radius: 8px;
    display: block;
}

.readmore {
    display: block;
    margin-top: 6px;
    margin-left: 30px;
    font-weight: bold;
    color: #2ecc71;
    text-decoration: none;
}

p {
    color: #666;
    font-size: 12px;
    max-width: 550px;
    margin: auto;
    margin-bottom: px;
}